name: CI

on:
  push:
    tags:
      - "*"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Hack around https://github.com/actions/checkout/issues/290
        run: |
          git fetch --tags --force
      
      - name: Install LibEQOL
        uses: R41z0r/LibEQOL@v1.0.0
        with:
          destination: Libs

      - name: Create Package and release
        uses: BigWigsMods/packager@v2
        # run: ./.release/release.sh
        env:
          #WAGO_API_TOKEN: ${{ secrets.WAGO_API_TOKEN }}
          CF_API_KEY: ${{ secrets.CURSE_API_TOKEN }}
          GITHUB_OAUTH: ${{ secrets.GITHUB_TOKEN }}
          #WOWI_API_TOKEN: ${{ secrets.WOWI }}
